<div class="bg-body dark:bg-darkmode-body group mr-4">
  <a href="{{ .RelPermalink }}" class="block overflow-hidden rounded">
    {{ $image:= .Params.image }}
    {{ if $image }}
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Size" "500x" "Class" "rounded w-full object-cover group-hover:scale-[1.05] transition duration-300 opacity-100") }}
    {{ end }}
  </a>
</div>

<div>
  <h4 class="pt-2 text-center md:text-start">
    <a href="{{ .RelPermalink }}" class="block">
      {{ .Title }}
    </a>
  </h4>
  {{ if .Description }}
  <h5 class="text-center md:text-start text-light dark:text-darkmode-light">
    {{ .Description }}
  </h5>
  {{ end }}
  <p class="mb-6 pt-2 text-sm font-mono">{{ .Summary | truncate 150 }}</p>
</div>
