<div class="bg-body dark:bg-darkmode-body group m-0">
  <a href="{{ .RelPermalink }}" class="rounded block overflow-hidden max-h-44 mb-4 shadow-md">
    {{ $image:= .Params.image }}
    {{ if $image }}
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Size" "400x" "Class" "w-full rounded max-h-44 object-cover hover:scale-[1.03] transition duration-300") }}
    {{ end }}
  </a>

  <h4 class="mb-1 text-center">
    <a href="{{ .RelPermalink }}" class="block">
      {{ .Title }}
    </a>
  </h4>
  {{ if .Description }}
  <h5 class="mb-4 text-light dark:text-darkmode-light text-center">
    {{ .Description }}
  </h5>
  {{ end }}
  <p class="mb-6">{{ .Summary }}</p>
</div>
