<div class="bg-body dark:bg-darkmode-body group m-0">
  <a href="{{ .RelPermalink }}" class="block overflow-hidden max-h-44">
    {{ $image:= .Params.image }}
    {{ if $image }}
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Size" "500x" "Class" "w-full max-h-44 object-cover group-hover:scale-[1.03] transition duration-300 opacity-100") }}
    {{ end }}
  </a>

  <h4 class="text-center pt-2 text-2xl leading-tight tracking-tight bg-slate-100/90 dark:bg-slate-700/90">
    <a href="{{ .RelPermalink }}" class="block">
      {{ .Title }}
    </a>
  </h4>
  {{ if .Description }}
  <h5 class="text-center pb-2  text-light dark:text-darkmode-light text-xl leading-tight tracking-tight bg-slate-100/90 dark:bg-slate-700/90">
    {{ .Description }}
  </h5>
  {{ end }}
  <!--<p class="mb-6 pt-2">{{ .Summary | truncate 150 }}</p>-->
</div>
