<div class="bg-body dark:bg-darkmode-body text-center">
  <a href="{{ .RelPermalink }}" class="rounded block overflow-hidden group max-h-56 mb-4">
    {{ $image:= .Params.image }}
    {{ if $image }}
    <div class="img-gloss">
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Size" "700x500" "Command" "Crop" "Class" "w-full rounded max-h-56 object-cover group-hover:scale-[1.05] transition duration-300") }}
    </div>
    {{ end }}
  </a>

  <h5 class="mb-1">
    <a href="{{ .RelPermalink }}" class="block">
      {{ .Title }}
    </a>
  </h5>
  {{ if .Description }}
  <h6 class="text-light dark:text-darkmode-light">
    {{ .Description }}
  </h6>
  {{ end }}

</div>
