<div class="bg-body dark:bg-darkmode-body text-center">
  <a href="{{ .RelPermalink }}" class="rounded block overflow-hidden group max-h-52 mb-4 shadow-md">
    {{ $image:= .Params.image }}
    {{ if $image }}
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Size" "600x300" "Command" "Crop" "Class" "w-full rounded max-h-52 object-cover group-hover:scale-[1.03] transition duration-300") }}
    {{ end }}
  </a>

  <h5 class="mb-1">
    <a href="{{ .RelPermalink }}" class="block">
      {{ .Title }}
    </a>
  </h5>
  {{ if .Description }}
  <h6 class="text-light dark:text-darkmode-light">
    {{ .Description }}
  </h6>
  {{ end }}

</div>
