<section>
  <div class="container text-center">
    <div
      class="from-body to-theme-light dark:from-darkmode-body dark:to-darkmode-theme-light rounded bg-gradient-to-b p-8 border-b-4 border-sky-500">

    <!--<div class="px-8 pt-10">
      <h2 class="text-gray-300 dark:text-gray-300 bg-sky-700 inline-block px-24 py-2 rounded-full">{{ .Title | title }}</h2>-->
      
      <h1>{{ .Title | title }}</h1>
      {{ if site.Params.breadcrumb.enable }}
      {{ partial "components/breadcrumb" (dict "Context" . "Class" "mt-6") }}
      {{ end }}
      {{if .Description }}
      <div class="mt-4 text-light dark:text-darkmode-light">{{ .Description }}</div>
      {{ end }}
    </div>
  </div>
</section>
