{{ define "main" }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
          <h1 class="h2 mb-4 mx-auto max-w-3xl text-center lg:text-5xl">
            {{ .Title }}
          </h1>
          {{ if .Description }}
          <h1 class="h2 mb-4 mx-auto max-w-3xl text-center text-2xl text-light dark:text-darkmode-light">
            {{ .Description }}
          </h1>
          {{ end }}
          <ul class="mb-8 mx-auto text-center">
            {{ if site.Params.post_authors.enable }}
            <li class="mr-4 inline-block">
              <a
                href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
                <i class="fa-regular fa-circle-user mr-1"></i
                >{{ .Params.author }}
              </a>
            </li>
            {{ end }}
            <li class="mr-4 inline-block">
              <i class="fa-solid fa-object-group mr-0"></i>
              {{ $categories:= .Params.categories }}
              {{ range $i,$p:= $categories }}
                <a
                  href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
                  class="ms-1 transition duration-300"
                  >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
                    {{ ", " }}
                  {{ end }}
                </a>
              {{ end }}
            </li>
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-calendar mr-1"></i>
              {{ time.Format ":date_long" .PublishDate }}
            </li>
          </ul>

          {{ $image:= .Params.image }}
          {{ if $image }}
            <div class="mb-10 lg:mb-12">
              <!--<img class="w-full rounded" src="{{ .Params.image }}" />-->
              {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded max-h-[30rem] object-cover") }}
            </div>
          {{ end }}

          <div class="content mb-10 lg:mb-20 mx-auto max-w-2xl">
            {{ .Content }}
          </div>

          {{ if .Params.tags }}
          <div class="row items-start justify-between">
            <div class="lg:col-5 mb-10 flex items-center lg:mb-0">
              <!--<h5 class="mr-3">{{ i18n "tags" }} :</h5>-->
              <i class="fa-solid fa-tags mr-2 text-xl"></i>
              <!--<i class="fa-solid fa-hashtag text-light"></i>-->
              <ul>
                {{ $tags:= .Params.tags }}
                {{ range $i,$p:= $tags }}
                  <li class="inline-block">
                    <a
                      class="bg-theme-light hover:bg-primary dark:bg-darkmode-theme-light dark:hover:bg-darkmode-primary dark:hover:text-dark m-1 block rounded px-3 py-1 hover:text-white"
                      href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
                      {{ . }}
                    </a>
                  </li>
                {{ end }}
              </ul>
            </div>
            <div class="lg:col-5 flex items-center text-light dark:text-darkmode-light">
              <i class="fa-regular fa-share-from-square mr-2 text-xl"></i> {{ partial "social-share" (dict "Context" . "Class" "share-icons" "Whatsapp" true "Telegram" true "Email" false) }}
            </div>
          </div>
          {{ end }}
          <!-- comments -->
          {{ if site.DisqusShortname }}
            <div class="mt-20">
              {{ template "_internal/disqus.html" . }}
            </div>
          {{ end }}
        </article>
      </div>

      <!-- Related posts -->
      {{ if site.Params.related_posts.enable }}

        {{ $related := (where site.RegularPages "Section" "in" site.Params.mainSections) | intersect (where site.RegularPages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
        {{ $related = $related | shuffle | first 3 }}
        {{ with $related }}
          <div class="section pb-0">
            <h2 class="h3 mb-12">{{ i18n "related_posts" }}</h2>
            <div class="row">
              {{ range . }}
                <div class="lg:col-4 mb-8">
                  {{ partial "components/blog-card" . }}
                </div>
              {{ end }}
            </div>
          </div>
        {{ end }}

      {{ end }}
    </div>
  </section>
{{ end }}
