{{ define "main" }}
  {{ if site.Params.page_header.enable }}
  {{ partial "page-header" . }}
  {{ end }}

  <section class="section">
    <div class="container">
      <div class="row justify-center">
        {{ $paginator:= .Paginate .RegularPages 9 }}
        {{ range $paginator.Pages }}
          <div class="md:col-6 lg:col-4 mb-8 px-2 lg:px-4">
            {{ partial "components/gallery-card" . }}
          </div>
        {{ end }}
      </div>
      <div class="pt-8">
        {{ partial "components/pagination.html" . }}
      </div>
    </div>
  </section>
{{ end }}
