{{ define "main" }}
  {{ with site.GetPage "homepage" }}

  {{ if site.Params.page_header.enable }}
  {{ partial "page-header" . }}
  {{ end }}

  <!-- Latest Posts -->
  <section class="section py-8">
    <div class="container">
      <div class="row gx-5">
        <!-- blog posts -->
        <div class="lg:col-12">
          <div class="row">
            {{ range site.RegularPages | first 3 }}
              <div class="md:col-4 mb-8">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </section>
    <section class="section pt-2">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-7 text-center">
            <a class="btn btn-primary" href="blog/">
              More posts
              <i class="fa fa-arrow-right pl-2"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

{{/* }}
  <!-- Blog Posts -->
  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <!-- blog posts -->
        <div class="lg:col-12">
          <div class="row">
            {{ $paginator:= .Paginate site.RegularPages }}
            {{ range $paginator.Pages }}
              <div class="md:col-4 mb-14">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
          {{ partial "components/pagination.html" . }}
        </div>
        <!-- sidebar -->
        {{ if site.Params.widget_sidebar.enable }}
        <div class="lg:col-4">
          <!-- widget -->
          {{ $widget:= site.Params.widgets.sidebar }}
          {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) }}
        </div>
        {{ end }}
      </div>
    </div>
  </section>
{{*/}}

  {{ end }}
{{ end }}
