{{ define "main" }}
  {{ with site.GetPage "homepage" }}

  {{ if site.Params.page_header.enable }}
  {{ partial "page-header" . }}
  {{ end }}

  <section class="section py-8">
    <div class="container">
      <div class="row gx-5">
        <!-- blog posts -->
        <div class="lg:col-12">
          <div class="row">
            {{ range site.RegularPages | first 3 }}
              <div class="md:col-4 mb-12">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
          {{ partial "components/pagination.html" . }}
        </div>
        </div>
    </section>

    <section class="section pt-2">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-7 text-center">
            <a class="btn btn-primary" href="blog/">
              Go to blog
              <i class="fa fa-arrow-right pl-2"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

  {{ end }}
{{ end }}
